root {
	--font: black;
	--bg: white;
}
body {
	font-family: Monoid;
	src: url('https://h.transcendent.ink/src/fonts/Monoid-Bold.ttf') format('truetype');
	padding: 100px;
	font-size: 16px;
	font-weight: bold;
	background-color: var(--bg);
	color: var(--font);
}

@media (prefers-color-scheme: light) {
	root {
		--font: black;
		--bg: white;
	}
}
@media (prefers-color-scheme: dark) {
	root {
		--bg: black;
		--font: white;
	}
}
@font-face {
	font-family: "Monoid";
	src: url("https://h.transcendent.ink/src/Monoid-Bold.ttf") format('truetype');
}
