@media (prefers-color-scheme: dark), (prefers-color-scheme: preference) {
	body {
		background-color: black !important;
		font-family: monospace; /* better to use in system monospace */
    padding: 100px;
    font-size: 16px;
	}
	pre {
		color: white !important;
		background-color: black !important;
	}
}
@media (prefers-color-scheme: light) {
	body {
		background-color: white !important;
		font-family: monospace; /* better to use in system monospace */
    padding: 100px;
    font-size: 16px;
	}
	pre {
		color: black !important;
		background-color: white !important;
	}
}
